<div class="container my-5">

  <div class="row align-items-center mb-5">
    <div class="col-md-6">
      <h2>Contact Our Team</h2>
      <p>
        We are always happy to hear from you! Feel free to send us.
      </p>
      <div class="ml-4 fs-1">♥️</div>
    </div>

    <div class="col-md-6">
      <img
        src="https://www.nastrends.com/cdn/shop/files/Blush_Modern_Stylish_New_Post_Instagram_Post_970x.png?v=1742859997"
        class="img-fluid rounded shadow"
        alt="Contact Us"
      />
    </div>
  </div>

 

</div>

