<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="padding: 0 300px 0 200px;">🆂🅺.</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/home"  routerLinkActive="active bg-danger">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/about"  routerLinkActive="active bg-danger" >About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/contact"  routerLinkActive="active bg-danger">ContactUs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/productadd/add"  routerLinkActive="active bg-danger">AddNewProductt</a>
          </li>

        </ul>
        <div class="text-center  d-flex flex-row-reverse align-items-center nav-controls">
          <li class="nav-item mx-2 list-unstyled" [hidden]="isLogged">
            <a class="nav-link  btn btn-success px-3" routerLink="/login" routerLinkActive="active text-white">Login</a>
          </li>
          <li class="nav-item mx-2 list-unstyled" [hidden]="!isLogged">
            <a class="nav-link active btn btn-success px-3" routerLink="/home" routerLinkActive="active bg-danger text-white " style="visibility: hidden;">LogOut</a>
          </li>
          <button type="submit" class="btn btn-success mx-2 px-3" (click)="logOut()" [disabled]="!isLogged" >Logout</button>
        </div>
      
     
      
      </div>
    </div>
  </nav>
