<div id="carouselExampleIndicators" class="carousel slide container-fluid w-100" data-ride="carousel">
 
    <div  class="carousel-inner ">
      <div class="carousel-item active w-100 mt-4">
        <img class="d-block w-100" src="https://www.nastrends.com/cdn/shop/files/2_9b4a60fc-a16b-4cf9-a183-a3075d7b60cb.jpg?v=1745180266" alt="First slide">
      </div>
    </div>
  </div>



<div class="mb-3">
    <!-- <label for="" class="form-label">Category</label> -->
    <select 
   
        class="form-select form-select-lg w-50 mt-5 m-auto"
       [(ngModel)]="selectedCatId"
    >
    <option *ngFor="let cat of categories" [value]="cat.id" >{{cat.name}}</option>
</select>
<!-- {{selectedCatId}} -->
 </div>

 <app-products   (onTotalPriceChanged)=" viewTotalPrice($event)" [recivedSelectedCatId]="selectedCatId"></app-products>

    <div class="alert alert-primary" role="alert">
    Total Order Price: {{totalOrderPrice}}


    <!-- <input type="text" #userName value="salma"> -->