<div class="container-fluid py-5">
  <div class="row justify-content-center align-items-center">
    
    <!-- Image Column -->
    <div class="col-md-5 mb-4 mb-md-0">
      <div class="text-center">
        <img [src]="product?.imgUrl" class="img-fluid rounded-3 shadow" alt="Product Image" style="max-height: 450px; object-fit: cover;">
      </div>
    </div>

    <!-- Data Column -->
    <div class="col-md-5">
      <div class="p-4 shadow rounded-3 bg-white">
        <h2 class="mb-3 text-success fw-bold">{{ product?.name }}</h2>
        <p class="text-muted">
          Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>

        <div class="mb-3">
          <h5>Quantity: <span class="text-primary">{{ product?.quantity }}</span></h5>
          <h5>Price: <span class="text-primary">{{ product?.price }} EGP</span></h5>
        </div>

        <div class="d-flex flex-wrap gap-2">
          <button (click)="Previous()" [disabled]="productId == productsIds[0]" class="btn btn-outline-success">
            Previous
          </button>
          <button (click)="Next()" [disabled]="productId == productsIds[productsIds.length - 1]" class="btn btn-outline-success">
            Next
          </button>
         
        </div>
      
      </div>
    
      <button class="btn btn-secondary  " style="width: 100px; " (click)="goBack()">
        Back
      </button>
    </div>

  </div>
</div>
 

